<p>
  user-form works!
</p>

    <h2>Update user number {{user?.id}}: </h2>
    <form [formGroup] = "usrform" (ngSubmit) = "sendData()">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.name}}">
            </div>
            
            <div>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" formControlName = "phoneNumber" value="{{user?.phoneNumber}}">
            </div>
      <br>
      <input type="submit" value="Save" class="btn btn-primary">
    </form>