<p>
  users-form works!
</p>

<h2>Add a user</h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  
  <div>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" class="form-control" formControlName = "name">
    <div *ngIf="!usrform.controls.name.valid" class="errors">
        Please add Name
    </div>
  </div>
  
  <div>
  <label for="phoneNumber">Phone Number</label>
  <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" formControlName = "phoneNumber">
  <div *ngIf="!usrform.controls.phoneNumber.valid" class="errors">
            Please add Phone
  </div>
  </div>

  <input type="submit" value = "Send user" class = "btn btn-primary" [disabled]="!usrform.valid">
  
  </form>