<p>
  users works!
</p>
<users-form></users-form>
<h2>
    List of users
  </h2>
  <ul class ="list-group">
      <li class = "list-group-item" *ngFor = "let key of usersKeys of users">
        <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
        <button class="btn btn-info" [routerLink] = "['/user-form', key]">Update</button>
        <a [routerLink] = "['/user', key]">{{'user number ' + key + ' , Name: ' + users[key].name + ' , Phone: ' + users[key].phoneNumber}}</a></li>
        
  </ul>

  <button class="btn btn-info" [routerLink] = "['/usersf']">firebase</button>